<!DOCTYPE html>
<head>
<title>Crimson Inf</title>
<link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
<script src="./static/jquery-3.6.0.js"></script>
</head>
<body>
<div id="box">
<h1>Crimson Pre-Alpha</h1>
</div>
<div id="reloadboxtable">
<table>
<tr>
<th>Type</th>
<th>ID</th>
<th>Hostname</th>
<th>IP</th>
<th>Status</th>
</tr>
<tr>
{% for row in rows %}
<td>{{ row.type }}</td>
<td>{{ row.id }}</td>
<td>{{ row.hostname }}</td>
<td>{{ row.ip }}</td>
<td>{{ row.status }}</td>
</tr>
{% endfor %}

</table>
</div>



<div id="box">
<form id="create" action="/deploy">
<input type="submit" value="Deploy" class="bttn"/>
<script>

            $(function() {
                $("#create").on("submit", function(e) {
                    e.preventDefault();
                    $.ajax({
                        url: $(this).attr("action"),
                        type: 'GET',
                        data: $(this).serialize(),
                        success: function(data) {
                            $("#message").hide();
                        }
                    });
                });
            });
</script>
</div>
</form>


<div id="reloadboxdropdown">
<form method="POST" action="/modify" id="modify">
<select class="bttn" name="id">
{% for row in rows %}
<option value="{{row.id}}" SELECTED>{{row.id}}</option>
{% endfor %}
</select>

<input type="submit" name="action" value="Destroy" class="bttn"/>
<input type="submit" name="action" value="Rebuild" class="bttn"/>
<script>
$(function(){
$("#modify").on("submit", function(e){
    e.preventDefault();
    $.ajax({
        url: '$(this).attr("action"),
        type: 'POST',
        data: $(this).serialize(),
        success:setTimeout(function(){
		location.reload();}, 5000);		
        }
    });
});
});
</script>


</form>
</div>


<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>


<script>
setInterval(function(){ 
    $("#reloadboxtable").load("/refreshtable")
},5000)
</script>
<script>
setInterval(function(){
    $("#reloadboxdropdown").load("/refreshdropdown")
},15000)
</script>


</body>

</html>
